{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-6">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">
                Профиль
            </h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="col-3">

                </div>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">Сохранить</button>
            </form>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

{% endblock %}