{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Ошибка подтверждения email</div>

                <div class="card-body">
                    <p>Произошла ошибка при подтверждении вашего email адреса. Пожалуйста, проверьте правильность ключа подтверждения или <a href="{% url 'users:resend_verification' %}">запросите новое письмо</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}