{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>

</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow d-flex flex-column">
            <img class="card-img-top"
                 src="{{ object.image|mediapath }}"
                 alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <p class="card-text text-center">{{ object.title }}</p>
                <div class="text-center">
                    <p class="card-text">{{ object.description|slice:":100" }}</p>
                    <a href="{% url 'catalog:view_product' object.pk %}"
                       class="btn btn-sm btn-outline-secondary text-center mx-auto">Подробнее о товаре</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}